# macOS
.DS_Store

# RStudio project-specific files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Temporary and backup files
*~

# Microsoft Office temporary files
~$*

# Large downloaded datasets
Data/GSE85217_M_exp_763_MB_SubtypeStudy_TaylorLab.txt
